<h1>Stupid Coaching</h1>

<br>

<div class="your-question">
  <p><%= params[:question] %></p>
  <p><em>– You</em><p>
</div>

<br>

<div class="coach-answer">
  <p><strong><%= @answer %></strong></p>
  <p><em>– Your coach</em></p>
</div>
<br>

<p><%= link_to "Ask a new question", ask_path, class: "new-question-link"%></p>
