<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<div class="ask-form">
<form action="/answer" method ="get" id="ask-form" data-turbo="false">
  <input type="text" name="question" class="text">
  <input type="submit" value="Ask" class="btn btn-primary">
</form>
</div>
